body {
    background-color: white;
    text-align: center;
}

h1 {
    color: black;
    display: inline-block;
    width: 100px;
    background-color: white;
}

h2 {
    color: black;
    font-size: 500%;
}

.main {
    border: 2px solid black;
    margin: 5% 25%;
    border-radius: 50px;
    box-shadow: 5px 5px;
}

button {
    border-radius: 7px;
    font-size: 20px;
    padding: 5px;
}